@use '/src/globals/styles/mixins' as m; 
@use '/src/globals/styles/constants' as c;


.tile {
    &-wrapper {
        flex-basis: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        background-color: c.$background-dark_light;
        border-radius: 10px;
        transition: all .2s ease-in-out;
    }
    &-top {
        width: 100%;
        min-height: 220px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        & img {
        width: 100%;
        min-width: 400px;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        align-self: center;
        }
    }

    &-bottom {
        @include m.flex-col;
        justify-content: flex-start;
        padding: 1rem;
    }

    &-link {
        @include m.link;
        align-self: flex-end;
        padding-bottom: 0.5rem;
    }
}