@use '/src/globals/styles/mixins' as m; 
@use '/src/globals/styles/constants' as c;


.tile {
    &-wrapper {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid c.$background-dark_lightest;
    }
}