@use './constants' as c;

*,
*::before,
*::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
};

main {
    min-height: calc(max(100vh - (c.$footer-min-height + c.$nav-height)));
    padding: min(200px, 2%); // TODO add units that Michal mentioned instead of percentages
}

button, link {
    cursor: pointer;
}