@use './constants' as c;

*,
*::before,
*::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    color: c.$font-color_primary;
    background-color: c.$background-dark_darkest;
    font-family: c.$font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
};

main {
    display: flex;
    direction: column;
    padding: 2%;
}