// COLORS - DARK

// Background
$background-dark_darkest: #0f1220;
$background-dark_darker: #141a29;
$background-dark_dark: #161b2e;
$background-dark_light: #191f34;
$background-dark_lightest: #3e8df7; // Btn background ?

// Font color
$font-color_primary: #fcfcfd;
$font-color_secondary: #95989e;

// COLORS - LIGHT -- later on

// SOME SPACING VARIABLES
$nav-height: 50px;
$footer-min-height: 35px;
$combined-nav-footer-height: 85px;
$border-radius: 4px;
