// COLORS - DARK

// Background
$background-dark_darkest: #0f1220;
$background-dark_darker: #141a29;
$background-dark_dark: #161b2e;
$background-dark_light: #191f34;
$background-dark_lightest: #3e8df7; // Btn background ?

// Font color
$font-color_primary: #fcfcfd;
$font-color_secondary: #95989e;

// COLORS - LIGHT -- later on

// FONTS and FONT SIZES and weight
$font-family: 'Montserrat', sans-serif;

$font-weight_light: 300;
$font-weight_regular: 400;
$font-weight_bold: 500;

// SOME SPACING VARIABLES
$nav-height: 5rem;
$footer-min-height: 4rem;