@use './constants' as c;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin global-page-padding {
  padding: min(200px, 2%);
}

@mixin global-max-width {
  max-width: 1800px;
  margin: auto;
}