@use './base' as b;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}


@mixin link {
    color: b.$font-color_secondary;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}