@use '/src/globals/styles/mixins' as m;
@use '/src/globals/styles/constants' as c;

.chip-wrapper {
  height: 100px;
  max-height: 100px;
  width: 100%;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 0.5rem;
  background-color: c.$background-dark_light;
  border: 1px solid c.$font-color_primary;
  cursor: default;
}