@use '/src/globals/styles/mixins' as m;
@use '/src/globals/styles/constants' as c;

.metacritic-badge_wrapper {
  padding: 10px;
  border-radius: c.$border-radius;
  color: c.$font-color_primary;
  background-color: c.$darkest-semi-opaque;
  font-size: large;
}