@use '/src/globals/styles/mixins' as m; 
@use '/src/globals/styles/constants' as c;

.footer {
    &-wrapper {
        @include m.flex-row;
        width: 100%;
        height: 3rem;
        margin-top: auto;
        background-color: c.$background-dark_dark;
    }
}