*,
*::before,
*::after,
html {
  box-sizing: border-box;
};

body {
    // TODO find and change font
    font-family: "Font Stack", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
};