@use '/src/globals/styles/mixins' as m;
@use '/src/globals/styles/constants' as c;

.navbar {
  padding: 0;
  background-color: c.$background-dark_light;
  position: sticky;
}

.navbar-brand {
  color: c.$font-color_primary;
  font-size: x-large;

  &:hover {
    color: c.$font-color_primary;
  }

  &.active {
    color: c.$font-color_primary;
  }

  :nth-child(2n) {
    color: c.$background-dark_lightest;
    font-weight: 600;
  }
}

.navbar-nav {
  .nav-link.active {
    color: c.$font-color_primary;
    opacity: 1;

    &::before {
      width: 100%;
    }
  }
}

.nav-link {
  position: relative;
  color: c.$font-color_primary;
  font-size: x-large;
  opacity: 0.5;
  transition: all 0.3s;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 0;
    height: 4px;
    background-color: c.$font-color_primary;
    transition: all .5s;
  }

  &:hover {
    color: c.$font-color_primary;
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }
}